.shopContainer{
    border: 1px solid grey;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-color:#0097c1;
    display: flex;
    align-items: center;
    margin: 80px auto;
    
}
.paraShop{
    color: white;
    font-size: 1.6rem;
}
@media only screen and (max-width: 540px){
    .shopContainer{
        width: 300px;
        height: 300px;
    }
    .paraShop{
        font-size: 1rem;
    }
}